.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.home-page {
height: 520px;
width: 720px;
opacity: 1;
transition: transform 300ms ease-in-out;
transition: 600ms ease-in-out;
background: #EDE4D9;
border-radius: 90%;
position: relative;
left: 320px;
}

.home-page p {
  position: relative;
  top: 200px;
}

.home-page img {
  position: fixed;
  bottom:450px;
  right: 575px;
  width: 300px;
  height: 100px;
}

#click-me {
  position: relative;
  top: 300px;
  padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
}

button#red {
  color:blue;
  top: 100px;
  right: 350px;
  width: 300px;
  position: relative;
}








.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  position:relative;
  left: 10px;

}

#blue {
  position:relative;
  left:10px;
}
#root {
  position:relative;
  left:600px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
